.flex-nav img {
    height: 70px;
    margin-left: 40px;
    margin-right: auto;
    border-radius: 50%;
}

.flex-nav ul{
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex-nav li a {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: grey;
    text-decoration: none;
}

.flex-nav li {
    flex:3;
}

.flex-nav .social {
    flex: 1;
}

.manchester {
    background-image: url(/Users/jamesbarrington/Github/Projects/my-portfolio/manchester.jpg);
}

/* about me page */
.me_graduation {
    background-image: url(/Users/jamesbarrington/Github/Projects/my-portfolio/me_graduation.jpg);
    background-repeat: no-repeat;
    background-size: 600px 600px;
    background-position: 150px 220px;
}

.aboutme {
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    color: gray;
    margin-top: 250px;
    margin-left: 800px;
    margin-right: 80px;
}

.aboutjb {
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    color: gray;
    margin-left: 800px;
    margin-right: 80px;
    
}


section {
    color: gray;
    background-size: contain;
}

.textcenter { 
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 150px;
  color: gray;
}

/* aboutme { 
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 150px;
    color: gray;
    margin-top: 80px;
    margin-bottom: 0px;
  }

  .about {
      display: flex;
      justify-content: center;
      font-family: sans-serif;
      font-style: italic;
      font-size: 20px;
      color: rgb(189, 186, 186);
      padding: 10px;
  } */ /* Styles for draft 1 */

  /* Some default styles to make each box visible */


